<!DOCTYPE html>
<html>
<head>
  <title>Mine</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <script>
	  var new_game_path = '<%= new_game_path %>';
	var reveal_games_path = '<%= reveal_games_path %>';
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
